asttokens==3.0.1
colorama==0.4.6
comm==0.2.3
debugpy==1.8.20
decorator==5.2.1
executing==2.2.1
glyphx==2.1.0
ipykernel==7.2.0
ipython==9.13.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.8
jedi==0.19.2
joblib==1.5.3
jupyter-client==8.8.0
jupyter-core==5.9.1
jupyterlab-widgets==3.0.16
matplotlib-inline==0.2.1
nest-asyncio==1.6.0
numpy==2.4.4
packaging==26.2
pandas==3.0.2
parso==0.8.6
platformdirs==4.9.6
polars==1.40.1
polars-runtime-32==1.40.1
prompt-toolkit==3.0.52
psutil==7.2.2
pure-eval==0.2.3
pygments==2.20.0
python-dateutil==2.9.0.post0
pyzmq==27.1.0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
stack-data==0.6.3
threadpoolctl==3.6.0
tornado==6.5.5
traitlets==5.14.3
tzdata==2026.2
wcwidth==0.6.0
widgetsnbextension==4.0.15
